* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  color:white;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  font-size: 1.2em;
}

main {
  margin: auto;
  width: 50%;
  padding: 20px;
}

main > h1 {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Test{
  position:relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text{
  text-align: center;
  position:relative;
  color:white;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

h2{
  position:relative;
  top: 30px;
  font-family: Calibri, serif;
  color:white;
  background-color: gray;
  background-size: cover;
  text-align: center;
  font-size: 2.5em;
}
